<!DOCTYPE html>
<html ng-app="tomasuloApp" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Tomasulo Original Webapp - By Guido Maiola (guidomaiola@gmail.com)</title>

	    <link href="./css/bootstrap.css" rel="stylesheet">
	    <link href="./css/main.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./css/jquery.dataTables.css">

		<script src="./js/angular.js"></script>
		<script src="./js/app.js"></script>

  	</head>

  	<body>

    <div class="container" ng-controller="InstController as ctrl" data-ng-init="init()">

    	<div class="row">
		    <div class="instructions col-md-8 col-md-offset-2">
		    	<h3>Table of instructions:</h3>
		        <table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                    <th>#</th>
		                    <th>Instruction</th>
		                    <th>Dst</th>
		                    <th>Op 1</th>
		                    <th>Op 2</th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="i in ctrl.instr_run">
		                    <td>{{i.id}}</td>
		                    <td>{{i.type}}</td>
		                    <td>{{i.dst}}</td>
		                    <td>{{i.op1}}</td>
		                    <td>{{i.op2}}</td>
		                    <td>
			                    <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.delete(i)">
									<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> delete
								</button>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
		<div class="row">
		    <div class="add-instructions col-md-8 col-md-offset-2">
		        <h4>Add instruction</h4>
		        <div class="btn-group btn-grp-add-inst" role="group" aria-label="...">
		        	<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.type}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="inst in ctrl.instructions"><a ng-click="ctrl.select('type', inst.type)">{{inst.type}}</a></li>
						</ul>
		        	</div>

        	       	<div class="btn-group">
        				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.dst}} <span class="caret"></span>
        				</button>
        				<ul class="dropdown-menu">
        					<li ng-repeat="reg in ctrl.registers_bank"><a ng-click="ctrl.select('dst', reg.name)">{{reg.name}}</a></li>
        				</ul>
        	       	</div>

	       	       	<div class="btn-group">
	       				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.op1}} <span class="caret"></span>
	       				</button>
	       				<ul class="dropdown-menu">
	       					<li ng-repeat="reg in ctrl.registers_bank"><a ng-click="ctrl.select('op1', reg.name)">{{reg.name}}</a></li>
	       				</ul>
	       	       	</div>

   	       	       	<div class="btn-group">
   	       				<button type="button" id="btn-op2" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.op2}} <span class="caret"></span>
   	       				</button>
   	       				<ul class="dropdown-menu">
   	       					<li ng-repeat="reg in ctrl.registers_bank"><a ng-click="ctrl.select('op2', reg.name)">{{reg.name}}</a></li>
   	       				</ul>
   	       	       	</div>

   	       	       	<!--div class="btn-group">
   	       				<input class="form-control" id="mem_data" type="text">
   	       	       	</div-->

   	       	       	<button id="btn-add" type="button" class="btn btn-default disabled" ng-click="ctrl.putInstInTable()">Add instruction</button>
		        </div>
		    </div>
		</div>

		<div class="row">
		    <div class="cicle-per-instructions col-md-10 col-md-offset-2">
		    	<h4>Set the number of cycles per instruction:</h4>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">ADD</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      {{ctrl.instructions[0].cycles}}
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	    	<li ng-repeat="instCycle in ctrl.instructionsCycles"><a ng-click="ctrl.selectCycle('ADD', instCycle)">{{instCycle}}</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">SUBD</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      {{ctrl.instructions[1].cycles}}
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	    	<li ng-repeat="instCycle in ctrl.instructionsCycles"><a ng-click="ctrl.selectCycle('SUBD', instCycle)">{{instCycle}}</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">MULD</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      {{ctrl.instructions[2].cycles}}
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	      	<li ng-repeat="instCycle in ctrl.instructionsCycles"><a ng-click="ctrl.selectCycle('MULD', instCycle)">{{instCycle}}</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">DIV</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      {{ctrl.instructions[3].cycles}}
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	      	<li ng-repeat="instCycle in ctrl.instructionsCycles"><a ng-click="ctrl.selectCycle('DIV', instCycle)">{{instCycle}}</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		       	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">ST</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      {{ctrl.instructions[4].cycles}}
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	      	<li ng-repeat="instCycle in ctrl.instructionsCycles"><a ng-click="ctrl.selectCycle('ST', instCycle)">{{instCycle}}</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">LD</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      {{ctrl.instructions[5].cycles}}
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	      	<li ng-repeat="instCycle in ctrl.instructionsCycles"><a ng-click="ctrl.selectCycle('LD', instCycle)">{{instCycle}}</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		    	<div class="cicle-per-instructions">
			    	<h4>Set the emission number:</h4>

			    	<div class="btn-group" role="group" aria-label="...">
			    	  <button type="button" class="btn btn-default">EMISSION #</button>

			    	  <div class="btn-group" role="group">
			    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    	      {{ctrl.emission}}
			    	      <span class="caret"></span>
			    	    </button>
			    	    <ul class="dropdown-menu">
			    	    	<li ng-repeat="e in [1,2,3,4]"><a ng-click="ctrl.selectemission(e)">{{e}}</a></li>
			    	    </ul>
			    	  </div>
			    	</div>
		    	</div>

		    	<div class="control-buttons">
					<h4>Set / Reset options:</h4>
					<button type="button" class="btn btn-default" id="btn-set" ng-click="ctrl.set()">Set</button>
		    		<button type="button" class="btn btn-default" id="btn-reset" ng-click="ctrl.reset()">Reset</button>
		    	</div>
		        
		    </div>
		    
	    </div>

	    <div class="row">
		    
		    <div class="control-buttons col-md-3 col-md-offset-1">
		    	<h3>Start execution:</h3>
			    	<button type="button" class="btn btn-default disabled" id="btn-run" ng-click="ctrl.run()" ng-disabled="!ctrl.keepRunning()">RUN CYCLE</button>

		    </div>
		    <div class="time-counter col-md-3 col-md-offset-1">
		    	<h3>Time counter: 
		    		<span class="label label-default">{{ctrl.exTime}}</span>
		    	</h3>
		    </div>
	    </div>

	    <div class="row">
	    	<div class="adder-table col-md-3">
	    		<h3>Adder</h3>
	    	    <table class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	            	<th>#</th>
	    	            	<th>Ins</th>
	    	                <th>Tag</th>
	    	                <th>Op1</th>
	    	                <th>Tag</th>
	    	                <th>Op2</th>
	    	                <th>Dst</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.adder">
		                    <td>{{i.pos}}</td>
		                    <td>{{i.id}}</td>
		                    <td>{{i.tag1}}</td>
		                    <td>{{i.op1data}}</td>
		                    <td>{{i.tag2}}</td>
		                    <td>{{i.op2data}}</td>
		                    <td>{{i.dst}}</td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>

	    	<div class="mult-table col-md-3">
	    		<h3>Mul/Div</h3>
	    	    <table class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	            	<th>#</th>
	    	            	<th>Ins</th>
	    	                <th>Tag</th>
	    	                <th>Op1</th>
	    	                <th>Tag</th>
	    	                <th>Op2</th>
	    	                <th>Dst</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.mult">
		                    <td>{{i.pos}}</td>
		                    <td>{{i.id}}</td>
		                    <td>{{i.tag1}}</td>
		                    <td>{{i.op1data}}</td>
		                    <td>{{i.tag2}}</td>
		                    <td>{{i.op2data}}</td>
		                    <td>{{i.dst}}</td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>

	    	<div class="mult-table col-md-2">
	    		<h3>MEM</h3>
	    	    <table class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	            	<th>#</th>
	    	            	<th>Ins</th>
	    	                <th>Tag</th>
	    	                <th>Op1</th>
	    	                <th>Dst</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.mem">
		                    <td>{{i.pos}}</td>
		                    <td>{{i.id}}</td>
		                    <td>{{i.tag1}}</td>
		                    <td>{{i.op1}}</td>
		                    <td>{{i.dst}}</td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>

	    	<div class="reg-table col-md-3 col-md-offset-1">
	    		<h3>Register Bank</h3>
	    	    <table class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	                <th>Register #</th>
	    	                <th>Busy</th>
	    	                <th>Tag</th>
	    	                <th>Data</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.reg">
		                    <td>{{i.number}}</td>
		                    <td>{{i.busy}}</td>
		                    <td>{{i.tag}}</td>
		                    <td>
		                    	<p ng-click="ctrl.toggleEditable()" ng-show="!ctrl.isEditable()">{{i.data}}</p>
		                    	<input ng-model="i.data" ng-show="ctrl.isEditable()" type="text">
		                    	<button ng-show="ctrl.isEditable()" type="button" class="btn btn-default btn-xs" ng-click="ctrl.toggleEditable()">
									<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> ok
								</button>
		                    </td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>

    	</div>

    	<div class="row">
    		<div class="col-md-8 col-md-offset-2">
    			<blackquote>
    				<p ng-repeat="p in ctrl.logs">{{p}}</p>
    			</blackquote>
    		</div>
    	</div>

    </div>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.js"></script>

    <script src="./js/jquery.dataTables.js"></script>

</body></html>