<!DOCTYPE html>
<html ng-app="tomasuloApp" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Tomasulo Original Webapp - By Guido Maiola (guidomaiola@gmail.com)</title>

	    <link href="./css/bootstrap.css" rel="stylesheet">
	    <link href="./css/main.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./css/jquery.dataTables.css">

		<script src="./js/angular.js"></script>
		<script src="./js/app.js"></script>

  	</head>

  	<body>

    <div class="container" ng-controller="InstController as ctrl" data-ng-init="init()">

    	<div class="row">
		    <div class="instructions col-md-8 col-md-offset-2">
		    	<h3>Table of instructions:</h3>
		        <table id="table_instr" class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                    <th>#</th>
		                    <th>Instruction</th>
		                    <th>Dst</th>
		                    <th>Op 1</th>
		                    <th>Op 2</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="i in ctrl.instr_run">
		                    <td>{{i.number}}</td>
		                    <td>{{i.type}}</td>
		                    <td>{{i.dst}}</td>
		                    <td>{{i.op1}}</td>
		                    <td>{{i.op2}}</td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
		<div class="row">
		    <div class="add-instructions col-md-8 col-md-offset-2">
		        <h4>Add instruction</h4>
		        <div class="btn-group btn-grp-add-inst" role="group" aria-label="...">
		        	<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.type}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="inst in ctrl.instructions"><a ng-click="ctrl.select('type', inst.type)">{{inst.type}}</a></li>
						</ul>
		        	</div>

        	       	<div class="btn-group">
        				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.dst}} <span class="caret"></span>
        				</button>
        				<ul class="dropdown-menu">
        					<li ng-repeat="reg in ctrl.registers_bank"><a ng-click="ctrl.select('dst', reg.name)">{{reg.name}}</a></li>
        				</ul>
        	       	</div>

	       	       	<div class="btn-group">
	       				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.op1}} <span class="caret"></span>
	       				</button>
	       				<ul class="dropdown-menu">
	       					<li ng-repeat="reg in ctrl.registers_bank"><a ng-click="ctrl.select('op1', reg.name)">{{reg.name}}</a></li>
	       				</ul>
	       	       	</div>

   	       	       	<div class="btn-group">
   	       				<button type="button" id="btn-op2" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ctrl.selectedInst.op2}} <span class="caret"></span>
   	       				</button>
   	       				<ul class="dropdown-menu">
   	       					<li ng-repeat="reg in ctrl.registers_bank"><a ng-click="ctrl.select('op2', reg.name)">{{reg.name}}</a></li>
   	       				</ul>
   	       	       	</div>
   	       	       	<button id="btn-add" type="button" class="btn btn-default disabled" ng-click="ctrl.putInstInTable()">Add instruction</button>
		        </div>
		    </div>
		</div>

		<div class="row">
		    <div class="cicle-per-instructions col-md-8 col-md-offset-2">
		    	<h4>Set the number of cicles per instruction:</h4>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">ADD/SUB</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      # cicles
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	      <li><a href="#">1</a></li>
		    	      <li><a href="#">2</a></li>
		    	      <li><a href="#">3</a></li>
		    	      <li><a href="#">4</a></li>
		    	      <li><a href="#">5</a></li>
		    	      <li><a href="#">6</a></li>
		    	      <li><a href="#">7</a></li>
		    	      <li><a href="#">8</a></li>
		    	      <li><a href="#">9</a></li>
		    	      <li><a href="#">10</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		    	<div class="btn-group" role="group" aria-label="...">
		    	  <button type="button" class="btn btn-default">MUL/DIV</button>

		    	  <div class="btn-group" role="group">
		    	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    	      # cicles
		    	      <span class="caret"></span>
		    	    </button>
		    	    <ul class="dropdown-menu">
		    	      <li><a href="#">1</a></li>
		    	      <li><a href="#">2</a></li>
		    	      <li><a href="#">3</a></li>
		    	      <li><a href="#">4</a></li>
		    	      <li><a href="#">5</a></li>
		    	      <li><a href="#">6</a></li>
		    	      <li><a href="#">7</a></li>
		    	      <li><a href="#">8</a></li>
		    	      <li><a href="#">9</a></li>
		    	      <li><a href="#">10</a></li>
		    	    </ul>
		    	  </div>
		    	</div>

		       	<div class="btn-group" role="group" aria-label="...">
		       	  <button type="button" class="btn btn-default">LOAD</button>

		       	  <div class="btn-group" role="group">
		       	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		       	      # cicles
		       	      <span class="caret"></span>
		       	    </button>
		       	    <ul class="dropdown-menu">
		       	      <li><a href="#">1</a></li>
		       	      <li><a href="#">2</a></li>
		       	      <li><a href="#">3</a></li>
		       	      <li><a href="#">4</a></li>
		       	      <li><a href="#">5</a></li>
		       	      <li><a href="#">6</a></li>
		       	      <li><a href="#">7</a></li>
		       	      <li><a href="#">8</a></li>
		       	      <li><a href="#">9</a></li>
		       	      <li><a href="#">10</a></li>
		       	    </ul>
		       	  </div>
		       	</div>

				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-default">STORE</button>

				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      # cicles
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				      <li><a href="#">1</a></li>
				      <li><a href="#">2</a></li>
				      <li><a href="#">3</a></li>
				      <li><a href="#">4</a></li>
				      <li><a href="#">5</a></li>
				      <li><a href="#">6</a></li>
				      <li><a href="#">7</a></li>
				      <li><a href="#">8</a></li>
				      <li><a href="#">9</a></li>
				      <li><a href="#">10</a></li>
				    </ul>
				  </div>
				</div>
		        
		    </div>
	    </div>

	    <div class="row">
		    <div class="control-buttons col-md-9 col-md-offset-1">
				<h3>Set / Reset options:</h3>
					<button type="button" class="btn btn-default" id="btn-set" ng-click="ctrl.set()">Set</button>
		    		<button type="button" class="btn btn-default" id="btn-reset" ng-click="ctrl.reset()">Reset</button>

		    	<h3>Start execution:</h3>
			    	<button type="button" class="btn btn-default disabled" id="btn-run">RUN CYCLE</button>

		    </div>
	    </div>

	    <div class="row">
	    	<div class="adder-table col-md-3 col-md-offset-1">
	    		<h3>Adder</h3>
	    	    <table id="table_adder" class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	            	<th>Inst</th>
	    	            	<th>#</th>
	    	                <th>Tag</th>
	    	                <th>Op1</th>
	    	                <th>Tag</th>
	    	                <th>Op 2</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.table_adder">
		                    <td>{{i.inst}}</td>
		                    <td>{{i.number}}</td>
		                    <td>{{i.tag1}}</td>
		                    <td>{{i.op1}}</td>
		                    <td>{{i.tag2}}</td>
		                    <td>{{i.op2}}</td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>

	    	<div class="mult-table col-md-3">
	    		<h3>Mul/Div</h3>
	    	    <table id="table_mult" class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	            	<th>Inst</th>
	    	            	<th>#</th>
	    	                <th>Tag</th>
	    	                <th>Op1</th>
	    	                <th>Tag</th>
	    	                <th>Op 2</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.table_mult">
		                    <td>{{i.inst}}</td>
		                    <td>{{i.number}}</td>
		                    <td>{{i.tag1}}</td>
		                    <td>{{i.op1}}</td>
		                    <td>{{i.tag2}}</td>
		                    <td>{{i.op2}}</td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>
	    	<div class="reg-table col-md-3 col-md-offset-1">
	    		<h3>Register Bank</h3>
	    	    <table id="table_reg" class="table table-bordered table-striped">
	    	        <thead>
	    	            <tr>
	    	                <th>Register #</th>
	    	                <th>Busy</th>
	    	                <th>Tag</th>
	    	                <th>Data</th>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	            <tr ng-repeat="i in ctrl.table_reg">
		                    <td>{{i.number}}</td>
		                    <td>{{i.busy}}</td>
		                    <td>{{i.tag}}</td>
		                    <td>{{i.data}}</td>
		                </tr>
	    	        </tbody>
	    	    </table>
	    	</div>
    	</div>
    </div>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.js"></script>

    <script src="./js/jquery.dataTables.js"></script>

</body></html>